container_commands:
  01_syncdb:
    command: "django-admin.py syncdb --noinput"
    leader_only: true
  02_syncdb:
    command: "django-admin.py migrate"
    leader_only: true

option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: moziox/wsgi.py
  - option_name: DJANGO_SETTINGS_MODULE
    value: moziox.settings