{% extends "base.html" %}
{% load staticfiles %}

{% block script %}
<script src="{% static "js/main.js" %}"></script>
{% endblock %}

{% block head %}
	<form methos="post" action=".">
		{{form.name}}
		<button type="submit" class="btn btn-primary btn-large">Save!</button>
		<button class="btn btn-default btn-large" id="clear">Clear</button>
	</form>
	<div class="errors">
	</div>
	<div class="success">
	</div>
	<a class="btn btn-default btn-large next" href="{% url "find" %}">Next</a>
	<div style="clear:both"></div>
	<div class="help">Mark the Service Area creating a polygon clickin on the map. To close the polygon click again on the first point</div>
{% endblock %}
