html, body, #map-canvas {
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-family: "Open Sans",sans-serif;
	font-size: 14px;
}

#header {
	background-color: #f89c06;
	border: 2px solid #fffff;
	margin: 0;
	padding: 10px;
	border-bottom: 10px #000 solid;
}
.title {
	float: left;
	margin-right: 20px;
}

#header h1 {
	margin-top: 0;
	font-size: 45px;
}

#header form {
	float: left;
	margin-top: 10px;
}

#container {
	height: 100%;
}

.errors {
	float: left;
	background-color: #eed3d7;
	color: #b94a48;
	margin-left: 10px;
	padding: 0px 5px;
	border-radius: 5px;
}

.success {
	float: left;
	color: #3A5F0B;
	margin-left: 10px;
	padding: 0px 5px;
	border-radius: 5px;
}

.help {
	text-align: center;
}

.next {
	float: right;
	margin-top: 10px;
	margin-right: 20px;
}